{% extends "base.html" %}
{%block title%}friends{%endblock%}
{% block content%}
    <div class="container">
        <form action="/friends" method="POST">
            <input type="text" name="name" >
            <input type="submit" value="Add name" class="btn btn-primary">
        </form>
        {% for friend in friends%}

        <h4>{{friend.name}}</h4><a href="/update/{{friend.id}}" class="btn btn-outline-success">update</a>
        <a href="/delete/{{friend.id}}" class="btn btn-outline-danger">delete</a>

        {% endfor %}

    </div>
{% endblock %}