{% extends "base.html" %}
{% block title %}Sign_in{% endblock %}
{% block content%}

  <div class="container">



      <h1 >Sign in please</h1>
      <br><br>
      <form action="/form" method="POST">
        <div class="mb-3">

          <input type="text" class="form-control"  placeholder="First name" name="first_name">
        </div>

        <div class="mb-3">

          <input type="text" class="form-control"  placeholder="Last name" name="last_name" >
        </div>


        <div class="mb-3">

          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name="email" >
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>

        <div class="mb-3">

          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>



        <button type="submit" class="btn btn-primary">Submit</button>
      </form>







  </div>


{% endblock %}


